* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E3F2FD;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    background-color: #293447;
}

.game-details {

    color: #B8c6DC;
    display: flex;
    justify-content: space-between;
    padding: 20px 27px;
    font-weight: 500;
    font-size: 1.5rem;
}

.play-board {
    width: 100%;
    height: 100%;
    background-color: #212837;
    display: grid;
    grid-template: repeat(30, 1fr)/repeat(30, 1fr);
    overflow: hidden;

}

.play-board .food {
    background: #FF003D;
}

.play-board .head {
    background: #60CBFF;
}

.controls {
    display: none;

    justify-content: space-between;
}

.controls i {
    color: #B8c6DC;
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    width: calc(100%/4);
    border-right: 1px solid #171b26;

}

@media screen and (max-width:550px) {
    .wrapper {
        width: 95vmin;
        height: 115vmin;
    }

    .controls {
        display: flex;
    }

    .controls i {
        padding: 15px 0;
    }

    .game-details {
        padding: 15px 27px;
        font-size: 1rem;

    }

}